services:
  db:
    image: postgres:17
    container_name: postgres-db
    restart: unless-stopped
    env_file:
      - ./apps/backend/.env
    networks:
      - app-network
    volumes:
      - pgdata:/var/lib/postgresql/data

  server:
    build:
      context: .
      dockerfile: ./apps/backend/Dockerfile
    depends_on:
      - db
    ports:
      - "3000:3000"
    env_file:
      - ./apps/backend/.env
    networks:
      - app-network
    restart: unless-stopped

  client:
    build:
      context: .
      dockerfile: ./apps/web/Dockerfile
    ports:
      - "5000:5000"
    depends_on:
      - server
    networks:
      - app-network
    env_file:
      - ./apps/web/.env
    restart: unless-stopped

networks:
  app-network:
    driver: bridge

volumes:
  pgdata:
